*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.course h1{
    font-size: 42px;
    font-weight: 700;
    color: #000;
}

.cover{
  margin:10px 20px 10px 10px;
    padding:25px;
    background-color:#f4f6ff;
    width: 500px;
    border-radius: 10px;
  
}
.course{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}
.notification-icon{
    width: 40px;
    height: 60px;
    border-radius: 20%;
    background-color: #0068ff;
   }
.center {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .date h2{
    font-size: 20px;
    font-weight: 700;
    color:#0068ff;
  }
  .courses{
    padding-top: 50px;
    padding-left: 0px;
  }
  .courses-head{
    display: flex;
    align-items: center;
  }
  .courses-head p{
    font-size: 20px;
    font-weight: 700;
    color: #A2A9C8;
    margin-right: 10px;
  }
 .arrow-left{
    width:30px;
    height:20px;
    margin-right: 10px;
  
 }
 .arrow-right{
    width:30px;
    height:20px;
    
 }
 
.grid{
    width:20px;
    height:20px;
    border-radius: 50px;
    

}  
.list{
    width:20px;
    height:20px;
    background-color: #0068ff;
    border-radius: 50px;
   
}

.container-layout{

    margin-left: 290px;
}

.card {
    background-color: #0068FF;
    border-radius: 15px;
    padding: 12px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .img {
    display: flex;
  }
  .facebook-img img {
    width: 155px;
    height: 155px;
    padding-right: 10px;
  }
  .number {
    background-color: white;
    height: 40px;
    width: 38px;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 15px;
  }
  .head-para h3,
  p {
    color: white;
  }
  .enroll-twelve p {
    padding-top: 15px;
    padding-right: 5px;
  }
  .foot {
    display: flex;
    justify-content: space-between;
  }
  .enroll-white {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-wrap{
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
    padding: 20px 0px 10px 0px;
}
.progess{
    margin-top: 22px;
    margin-left: 10px;
    background-color: #a2a9c8;
    height: 8px;
    width: 310px;
    border-radius: 20px;
}
.enroll-white img{
    padding-bottom: 5px;
}
.progress-grey{
    margin-top: 22px;
    margin-left: 10px;
    background-color:#fbfbfb;
    height: 8px;
    width: 150px;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 0px;
}
.card1 {
    background-color: #CF74FF;
    border-radius: 15px;
    padding: 12px;
  }
  .progess1{
    margin-top: 22px;
    margin-left: 10px;
    background-color: #a2a9c8;
    height: 8px;
    width: 310px;
    border-radius: 20px;
}
.progress-grey1{
    margin-top: 22px;
    margin-left: 10px;
    background-color:#fbfbfb;
    height: 8px;
    width: 70px;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 0px;
}
.card2{
    margin-top:15px;
    background-color:#FADB39;
    border-radius: 15px;
    padding: 12px;
  }
  .card3{
    margin-top:15px;
    background-color:#ED7071;
    border-radius: 15px;
    padding: 12px;
  }
.end{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.back-img,
.notification-img {
  width: 50px;
  height: 50px;
}
.top-learning {
  padding: 50px 30px;
  display: flex;
  justify-content: space-between;
}
.student {
  color: #0068ff;
}
.profile {
  justify-content: right;
  display: flex;
}
.right-side {
}
.learn-background {
  color: #a2a9c8;
  padding-left: 35px;
}
.learning-icon {
  width: 50px;
  height: 50px;
  padding-left: 35px;
}
.percent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.learning-text span {
  color: #a2a9c8;
}
.learning-text {
  padding: 30px;
  padding-right: 220px;
}
.progress-bar-target {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#ed7071 53%, white 0);
  margin-right: 46px;
}
.progress-bar-target::before {
  content: "53%";
}
.complete-web {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
}
.progress-bar-web {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#0068ff 75%, white 0);
  margin-right: 46px;
}
.progress-bar-web::before {
  content: "75%";
}
.progress-bar-grow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#cf74ff 14%, white 0);
  margin-right: 46px;
}
.progress-bar-grow::before {
  content: "14%";
}
.grow-community {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
}
.planning {
  display: flex;
  color: #a2a9c8;
  padding-left: 40px;
}
.planning .left-arrow {
  padding-left: 30px;
  border-radius: 20px;
}
.planning .right-arrow {
  padding: 0px 0px;
}
.cal {
  padding: 20px 40px;
  color: #a2a9c8;
  display: flex;
  justify-content: space-between;
}
span {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 480px) {
  .total-div {
    grid-template-columns: 1fr;
  }
}